.titleh3 {
	color: white;
	text-align: center;
	text-transform: uppercase;
	background: $main_color none repeat scroll 0 0;
	height: auto;
	width: 100%;
	text-align: center;
	margin-bottom:0px;
}
.news{
	&__item {
		text-align:justify;
		clear:both;
		margin-top:10px;
		p {
			margin-bottom:4px;
		}	
		&-conf {
			text-align:justify;
			max-height:28px;
			&:after {
			width:100%;
				content:"";
				visibility:hidden;
				display:inline-block;	
			}
		}
		&-date {
			display:inline-block;
			color: #dcdcdc; 
			font-style: italic;
		}
		&-more {
			color: $main_color;
			display:inline-block;
			font-weight: bold;
			transition: color 0.2s ease 0.02s;
			&:hover {
				color: $main_orange_color;
				font-weight: bold;
			}
		}
	}
}
.main-text {
	text-align:justify;
}