<div id="youtube-slider">
	<p class="titleh3">Полная видеохронология строительства ООО "РусАльянс Строй" на о.Врангеля и м.Шмидта, репортажи телеканалов: Первый канал, Россия 24, LifeNews, Звезда и др.</p>
	<div id="slFrame">
		<a href="https://www.youtube.com/channel/UCrViYvZMhm8t4nMeHMvi0Ig"><img width="100%" src="./images/rightsideimage.jpg"></a>
	</div>
</div>
<h4 class="h4">Фотогалерея</h4>
<div class="gallery-slider side-slider">
	<div class="side-slider__item"><img src="./images/gallery/1.jpg"></div>
	<div class="side-slider__item"><img src="./images/gallery/2.jpg"></div>
	<div class="side-slider__item"><img src="./images/gallery/3.jpg"></div>
</div>