<div class="news">
<h4 class="titleh3 news__title">Новости</h4>
<article class="news__item">
	<div class="news__item-text">
		<p>07 октября 2015 года сметная документация по объекту на Новой Земле (шифр объекта В-Р/ЛОК) успешно прошла государственную экспертизу.</p>
	</div>
	<div class="news__item-conf">
		<span class="news__item-date">10.09.2018</span>
		<a class="news__item-more" href="#">Подробнее</a>
	</div>
</article>
<article class="news__item">
	<div class="news__item-text">
		<p>Корыстный «генерал» расхищает казну.</p>
	</div>
	<div class="news__item-conf">
		<span class="news__item-date">10.09.2018</span>
		<a class="news__item-more" href="#">Подробнее</a>
	</div>
</article>
<article class="news__item">
	<div class="news__item-text">
		<p>Сентябрь 2015 года. Федеральная антимонопольная служба России на стороне ООО «РусАльянс Строй» - дважды.</p>
	</div>
	<div class="news__item-conf">
		<span class="news__item-date">10.09.2018</span>
		<a class="news__item-more" href="#">Подробнее</a>
	</div>
</article>
</div>
<h4 class="h4">Партнеры:</h4>
<div class="partners-slider side-slider">
	<div class="side-slider__item"><img src="./images/partners/logo_interamal.jpg"></div>
	<div class="side-slider__item"><img src="./images/partners/logo_ABB.png"></div>
	<div class="side-slider__item"><img src="./images/partners/logo_AEM.png"></div>
</div>