<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="footer__copyright">
					<p>@ ГК "РУСАЛЬЯНС" 2012</p>
				</div>
			</div>
			<div class="col-md-7">
				<div class="footer__menu">
					<ul>
						<li><a title="О компании" href="#">О компании</a></li>
						<li><a title="Деятельность" href="#">Деятельность</a></li>
						<li><a title="Проекты" href="#">Проекты</a></li>
						<li><a title="Партнеры" href="#">Партнеры</a></li>
						<li><a title="Устойчивое развитие" href="#">Устойчивое развитие</a></li>
						<li><a title="Контакты" href="#">Контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer__contact">
					<p class="footer__contact-phone">Телефон: +7 (495) 690-93-93</p>
					<p class="footer__contact-email">E-Mail: info@rusalians.com</p>
				</div>
			</div>
		</div>
	</div>
</footer>
</body>
</html>