<header class="header">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="header__slogan">Строим<br>будущее<br>вместе!</p>
			</div>
			<div class="col">
				<div class="header__logo">
					<a><img src="./images/logo.png"></a>
				</div>
			</div>
			<div class="col">
				<div class="header__contact">
					<p class="header__phone"></p><span class="header__phone_code">+7 (495)</span> <span class="header__phone_number">690-93-93</span><br>
					<a href="#"><img class="ss" src="./images/twitter.png"></a>
					<a href="https://www.youtube.com/channel/UCrViYvZMhm8t4nMeHMvi0Ig"><img class="ss" src="./images/youtube.png"></a>
				</div>
			</div>
		</div>
		<nav class="menu">
			<div class="shadow">
				<ul>
					<li><a href="#" title="О компании">О компании</a></li>
					<li><a href="#" title="Деятельность">Деятельность</a></li>
					<li><a href="#" title="Проекты">Проекты</a></li>
					<li><a href="#" title="Партнеры">Партнеры</a></li>
					<li><a href="#" title="Устойчивое развитие">Устойчивое развитие</a></li>
					<li><a href="#" title="Контакты">Контакты</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>