<nav class="leftmenu">
    <a class="leftmenu__about" href="#">О компании</a>
    <ul>
        <li><a href="#" title="Пресс-центр">Пресс-центр</a></li>
        <li><a href="#" title="Новости">Новости</a></li>
        <li><a href="#" title="Регионы присутствия">Регионы присутствия</a></li>
        <li><a href="#" title="Лицензии и сертификаты">Лицензии и сертификаты</a></li>
        <li><a href="#" title="Документы и устав">Документы и устав</a></li>
        <li><a href="#" title="Благодарственные письма">Благодарственные письма</a></li>
        <li><a href="#" title="Вакансии">Вакансии</a></li>
    </ul>
</nav>