<div class="rotator">
        <ul id="rotmenu">
            <li>
                <a href="#">Строительство</a>
                <div style="display:none;">
                    <div class="info_image">1.jpg</div>
                    <div class="info_heading">Строительство</div>
                    <div class="info_description">
		 Строительство и монтаж производственных мощностей и инженерной инфраструктуры промышленных предприятий «под ключ»
                        <!--<a href="#" class="more">Подробнее</a>-->
                    </div>
                </div>
            </li>
            <li>
                <a href="#">Устойчивое развитие</a>
                <div style="display:none;">
                    <div class="info_image">2.jpg</div>
                    <div class="info_heading">Устойчивое развитие</div>
                    <div class="info_description">
		ГК «РУСАЛЬЯНС» стремится не только к достижению высоких показателей, но и к внесению вклада в развитие и процветание России
                       <!-- <a href="#" class="more">Подробнее</a>-->
                    </div>
                </div>
            </li>
           
            <li>
                <a href="#">Центр освоения арктики</a>
                <div style="display:none;">
                    <div class="info_image">4.jpg</div>
                    <div class="info_heading">Центр освоения арктики</div>
                    <div class="info_description">
                        Обеспечение устойчивого будущего Российской Арктики за счет минимизации негативного воздействия при техногенном освоении региона
                      <!--  <a href="#" class="more">Подробнее</a>-->
                    </div>
                </div>
            </li>
        </ul>
        <div id="rot1">
            <img src="" width="auto" height="auto" class="bg" alt=""/>
            <div class="heading">
                <h3></h3>
            </div>
            <div class="description">
                <p></p>

            </div>    
        </div>
    </div>