<div>
    <p>Спецстрой России платит по долгам уголовными делами</p>
    <div><iframe src="https://www.youtube.com/embed/AqxlpTcqtvQ?ecver=2" width="100%" height="315" frameborder="0" gesture="media" allowfullscreen=""></iframe></div>
    <p>Фрагменты собрания в ЦОБ "БПК", в том числе выступление Ирины Эккерт о признании компании "Русальянс Строй" коммерческой организацией, а ее руководителей предпринимателями, которые на основании выше изложенного и в соответствии со статьей 108 УПК РФ находится под стражей незаконно.</p>
    <div><iframe width="100%" height="315" src="https://www.youtube.com/embed/ntHESDx1gLc" frameborder="0" allowfullscreen=""></iframe></div>
    <p>По факту незаконного и необоснованного уголовного преступления, а также о лицах, которые получили от руководителей "Русальянс Строй" отказ "договариваться", после чего путем связей среди высокопоставленных лиц в государственных и силовых структурах сфабриковали данное уголовное дело, Андреем Карауловым проведено журналистское расследование</p>
    <div><iframe width="100%" height="315" src="https://www.youtube.com/embed/ahs3cWZCR6I" frameborder="0" allowfullscreen=""></iframe></div>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/h06-BMvJsrU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
</div>